@-webkit-keyframes jump {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes jump {
  0% {
    transform: translateY(600px);
  }
  100% {
    transform: translateY(0px);
  }
}