@mixin header-mixin {
  background-color: #1DB954;
  margin: -50px 15px -50px -8px;
  padding: 1px 0;
  position: fixed;
  width: 100%;

  .header-name {
    color: #ffffff;
    margin: 25px 10px 15px 15px;
    padding-left: 150px;
  }

  .navigation-wrapper {
    height: 34px;
    margin-left: auto;
    position: relative;

    .header-nav {
      margin: -35px 125px;
      padding: 0 50px;
      text-align: right;

      a {
        color: #ffffff;
        font-size: 18px;
        padding: 0 10px;
        text-decoration: none;
      }
    }
  }
}

@mixin footer-mixin {
  background-color: #000000;
  bottom: 0;
  color: gray;
  left: 0;
  padding-top: -50px;
  position: fixed;
  text-align: center;
  width: 100%;

  nav {
    padding: 5px 0;

    a {
      padding: 50px;
    }
  }

  h4 {
    margin: 10px;
  }
}